.container{
    font-size: 15px
}
.phantrang {
    width: 100%;
    display: flex;
  
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }
  .lt span {
    color: rgb(70, 68, 68);
  }
  .pagi {
    position: relative;
    top: 8px;
  }