
img {
  vertical-align: middle;
}


.btnDk {
  font-family: Roboto,sans-serif;
  background-color: #d66508;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  width: 100%;
  padding: 13px 0;
  border-radius: 0 !important;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



  .tong {
    height: auto;
    min-height: 95vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  a{
    text-decoration: none;
    }

// Phan trang *******************************************
.phantrang {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }
  .lt span {
    color: rgb(70, 68, 68);
  }
  .pagi {
    position: relative;
    top: 8px;
  }
  // Phan trang *******************************************

  .clearfix:after {
    clear: both;
  }
  .clearfix:after, .clearfix:before {
    display: table;
    content: " ";
  }

  @media all and (max-width: 1500px) {
    .card-block .card-img-top {
      overflow: hidden;
      height: auto;
      border: 4px solid #eee;
    }
  }

    @media screen and (min-width: 768px){
      .floating-callout {
        padding: 30px 10px;
      }
    }

      @media screen and (min-width: 320px){
      .floating-callout {
        padding: 20px 10px;
      }

      }
      .floating-callout {
        width: 100%;
        padding: 20px 10px;
        height: auto;
        position: relative;
        z-index: 10;
      }

      .triple-nav .btn {
          padding: 10px;
          margin: 1px;
          width: 100%;
        }

        .btn-green {
          background-color: #67c381;
          color: white;
        }
        .btn-blue {
          background-color: #36a8f1;
          color: white;
        }
        .btn-orange {
          background-color: #f28d0a;
          color: white;
        }

        .conent-page {
          padding-top: 35px;
          padding-bottom: 35px;
      }

      .bg-f1f2f2 {
          background-color: #eee;
      }
        .grid {
          width: 100%;
          max-width: 1200px;
          margin: 0 auto;
      }

        .title-page {
          margin: 0px;
          padding: 0px;
          color: #1e264a;
          font-size: 24px;
          font-weight: bold;
          text-transform: uppercase;
          padding-bottom: 10px;
      }
      .c20 {
        height: 20px;
    }


    .item-cat {
      -webkit-box-shadow: 0 0 3px 3px #d7d7d7;
      box-shadow: 0 0 3px 3px #d7d7d7;
      border: solid 1px #d7d7d7;
      background-color: #fff;
      margin-bottom: 20px;
      min-height: 310px;
  }
  .item-cat-content {
    padding: 20px;
}
.cat-name-home {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #1e264a;
  font-size: 16px;
  margin-top: 0;
}
.intro-cathome {
  color: #333132;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 5px;
}
.cat-name-home {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #1e264a;
  font-size: 16px;
  margin-top: 0;
}
.cat-name-home a {
  color: #1e264a;
}
.flex-space-between {
  justify-content: space-between;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  justify-content: flex-start /* space-around;*/;
}
.cell-3-4 {
  float: left;
  width: 74%;
}
.col-right {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.item-new {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: dashed 1px #a1a1a1;
}
.cell-1-3 {
  float: left;
  width: 31%;
}
.cell-2-3 {
  float: left;
  width: 66.66%;
}
.item-new .new-name {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
.item-new .intro-service {
  color: #3a3a3a;
  line-height: 22px;
  margin-bottom: 15px;
  font-size: 14px;
}

//sssssssssss
@media screen and (min-width: 768px) {
  .card {
      margin: inherit;
  }
}

@media screen and (min-width: 320px) {
  .card {
      margin:0px 3px 10px;
  }
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  position: relative;
  background-color: #fff;
}

.class-choice {
  padding: 17px;
  box-shadow: none !important;
  text-align: center;
  min-height: 325px;
  transition: all .2s cubic-bezier(.4, 0, .2, 1);
}
.class-choice .card-img-top {
  overflow: hidden;
  height: 180px;
  border: 4px solid #eee;
}
.class-choice .card-img-top {
  overflow: hidden;
  height: 180px;
  border: 4px solid #eee;
}

@media screen and (min-width: 768px) {
  .class-choice img {
      transform: translateX(-15%);
  }
}

.class-choice img {

  width: 150%;
}

img {
  vertical-align: middle;
}

img {
  border: 0;
}

.class-choice a {
  font-size: 20px;
  margin: 18px 0 11px;
  color: #4d4d4d;
  font-weight: 400;
  min-height: 3em;
}

.btn-outline:hover {
  background: #f28d0a;
  color: white
}
.btn-outline-primary {
  border-color: #e96007;
  color: #e96007;
}

@media screen and (min-width: 768px) {
  .btn-outline {
      font-size: 14px;
  }
}

@media screen and (min-width: 320px) {
  .btn-outline {
      font-size: 12px;
  }
}

.btn-outline {
  border: 1px solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  background-image: none;
  background-color: transparent;
  transition: all .2s cubic-bezier(.4, 0, .2, 1);
  white-space: normal;
}
