* {
  outline: 0 !important;
  font-size: 16px !important;
}
.fa {
  color: gray;
}
#content {
  margin: 2.5%;
  height: auto;
}
.container {
  margin: 2.5%;
  height: auto;
}
#fu {
  display: flex;
  justify-content: space-between;
}

#search_box {
  width: 300px;
}
#abtn {
  position: relative;
  float: right;
}
#trfu {
  text-align: right !important;
}

.phantrang {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}
.lt span {
  color: rgb(70, 68, 68);
}
.pagi {
  position: relative;
  top: 8px;
}

.widget {
  background-color: #fff;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
}
.widget-body, .widget-footer, .widget-header {
  padding: 1rem;
}
.widget-header h4 { font-size: 20px !important;}
hr { margin:  0 !important;}
.content-container { margin-top: 30px;}